section{ 

    input{
        height:80px;
        width: 1400px;
        border-radius: 50px;
        font-size: 50px;
        text-indent: 80px; 
        display: block;
        border-style: none;

    }

    .input-wrapper{     
        position: relative;
        display: block;
    }

    .searchIcon{
        position:absolute;
        top:20px;
        left: 20px;
        height: 50px;
    }

    .containerDetails{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .containerButton{
        margin : 0 30px;
        display: flex;
        flex-direction: row;
    }

    .searchButton{
        position: absolute;
        top: -3px;
        left: 1170px;
        color: black;
        font-size: 40px;
        background-color: #7F8C8D;
        border-radius: 50px;
        padding: 20px 60px;
        border-style: none;

    }

    .buttonDetails{
        margin: 0 10px;
        background-color: #7F8C8D;
        border-radius: 50px;
        box-shadow: 0;
        border-style: none;
        position:relative;
        padding: 20px 25px 20px 55px;
        img{
            position: absolute;
            height: 40px;
            left: 10px;
            top: 15px;
        }
        button{
            box-shadow: 0;
            border-style: none; 
            background-color: transparent;
            font-size: 30px;
        }
    }

    .detailsSearch{
        display: flex;
        flex-direction: row;
    }
    .nameDetails{
        color: black;
        display: flex;
        flex-direction: row;
        background-color:#7F8C8D;
        padding: 20px;
        border-radius: 50px;
        font-size: 30px;
        margin: 0 20px;
        form{     
    font-family: Arial;
            select{
                font-family: Arial;
                background-color:#7F8C8D;
                border-style: none;
                font-size: 30px;
                font-weight:normal;
                size: 6;
                option{
                font-family: Arial;
                background-color: #7F8C8D;
                }
            }
        }

    }

    min-height: calc(100vh - 180px);
    .container{   
        width: 1400px;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        p{
            font-size: 40px;
            color: black;
            margin: 0;
        }

        .first{
            display: flex;
            flex-direction: row;

            p{
                text-align: left;
                margin-left: 50px;
                position: relative;
                top: 40px;
                margin-top: 20px;
            }

            img{
                object-fit: cover;
                width: 400px;
                height: 100%;
                border-radius: 50px;
            }
        }

        #txtFinal{
            margin-top: 30px;
        }
    }

    .movieContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px auto;
        justify-content: space-between;
        .movie{
            display: flex;
            flex-direction: row;
            background-color: #95A5A6;
            border-radius: 25px;
            width: 400px;
            margin: 10px 0;
            h1{
                color: black;
                margin-left: 10px;
                text-align: center;
            }
            img{
                width: 200px;
                border-radius: 25px;
            }
        }
    }
}