@import "./footer";
@import "./header";
@import "./section";


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: #BDC3C7;
    list-style-type: none;
    min-height: 100vh;
}
